.CreateTodoButton {
    background-color: rgb(33, 41, 143);
    box-shadow: 0px 0px 8px 0 black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 51px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-weight: bold;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-family: "Montserrat", sans-serif;

    transform: rotate(0);
    transition: .3s ease;
}

.CreateTodoButton:hover {
    transform: rotate(224deg);
}